
<!doctype html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel="icon" type="image/x-icon" href="/img/favicon.ico"/>
        <title>24/7 Doctors</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href='https://use.fontawesome.com/releases/v5.7.2/css/all.css' rel='stylesheet'>

<style>


body {
    overflow-x: hidden !important;
}


.doctor-fees {
display: inline;
font-size: 20px;
font-weight: 400;
margin-top: -15px;
margin-bottom: 0px;
color: #080808;
clear: left

}

.seperator {
background: #a2a2efb8
}

.wrapper {
width: 70%;
margin-top: 48px;
margin-left: 16px;
}

@media(max-width:992px) {
.wrapper {
width: 100%
}
}

.panel{
margin-bottom: 5px;
}

.panel-title{
margin-bottom: .0rem;
}

.panel-collapse{
background: #fff;
border-bottom: 1px solid #d5d5d5;
}

.panel-heading {
padding: 0;
border: 0;
padding: 9px 3px !important;
}

.panel-body{
padding: 13px;
}

.panel-title>a,
.panel-title>a:active {
display: block;
padding: 10px;
color: #555;
font-size: 11px;
text-transform: uppercase;
letter-spacing: 1px;
word-spacing: 3px;
text-decoration: none;
}

.panel-heading a:before {
font-family: 'Font Awesome 5 Free';
content: "\f111";
float: right;
transition: all 0.5s
}

.panel-heading.active a:before {
-webkit-transform: rotate(180deg);
-moz-transform: rotate(180deg);
transform: rotate(180deg)
}

@keyframes click-wave {
0% {
height: 40px;
width: 40px;
opacity: 0.15;
position: relative
}

100% {
height: 200px;
width: 200px;
margin-left: -80px;
margin-top: -80px;
opacity: 0
}
}

.option-input {
-webkit-appearance: none;
-moz-appearance: none;
-ms-appearance: none;
-o-appearance: none;
appearance: none;
position: relative;
top: -8.66667px;
right: 0;
bottom: 0;
left: 0;
height: 24px;
width: 24px;
transition: all 0.15s ease-out 0s;
background: #cbd1d8;
border: none;
color: #fff;
cursor: pointer;
display: inline-block;
margin-right: 0.5rem;
outline: none;
position: relative;
z-index: 1000
}

.option-input:hover {
background: #9faab7
}

.option-input:checked {
background: #2874ef
}

.option-input:checked::before {
height: 24px;
width: 24px;
position: absolute;
content: "\f111";
font-family: "Font Awesome 5 Free";
display: inline-block;
font-size: 14.66667px;
text-align: center;
line-height: 26px
}

.option-input:checked::after {
-webkit-animation: click-wave 0.15s;
-moz-animation: click-wave 0.15s;
animation: click-wave 0.15s;
background: #E91E63;
content: '';
display: block;
position: relative;
z-index: 100
}

.option-input.radio::after {
border-radius: 50%
}

.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
float: left;
margin-left: -4px !important;
margin-top: 9px
}

.checkbox input[type="radio"],
.checkbox-inline input[type="radio"] {
float: left;
margin-left: -4px !important;
margin-top: 9px
}

.ml-10 {
margin-left: 10px;
font-size: 12px;
color: #080808
}

.filters-text {
background: #fff;
border: 1px solid #d5d5d5;
margin-bottom: 15px;
padding: 12px 
}


.scrollbar-cyan::-webkit-scrollbar-track {
    background-color: #F5F5F5;
    border-radius: 10px;
}

.scrollbar-cyan::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar-cyan::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #00bcd4;
}

.scrollbar-cyan {
    scrollbar-color: #00bcd4 #F5F5F5;
}
.bordered-cyan::-webkit-scrollbar-track {
    border: 1px solid #00bcd4;
}



.square::-webkit-scrollbar-track {
    border-radius: 0 !important;
}

.square::-webkit-scrollbar-thumb {
    border-radius: 0 !important;
}

.thin::-webkit-scrollbar {
    width: 6px;
}

.example-1 {
    position: flex;
    overflow-y: scroll;
    height: auto;
    max-height: 300px;
}

#container{
        min-height: 100%;

      }

      #main{
        overflow: auto;
        padding-bottom: 100px;

      }


      #footer {
        position: relative;
        margin-top: -100px;
        height: 100px;
        bottom: 0;
}

</style>
</head>
    <!--Start Hader-->
    <%- include ('./partials/navHome.ejs') %>
    <!--End Hader-->
    <body>


<div class="row" id="container">
<div class="col-md-4" id="main">

    <form action="http://localhost:5000/doctor/doctorview" method="post">
        
        <div class="wrapper center-block hidden-xs">

    <div class="filters-text">
        <span class="filter-span">Sort by: <small>(find doctors using filters below)</small></span>
        <!-- <div class="text-right refine"> <button class="btn btn-in btn-info btn-square" id="button-filter" type="submit">Refine Search</button> </div> -->

    </div>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

<div class="panel panel-default">
<div class="panel-heading" role="tab" id="heading1">
  
<h4 class="panel-title">
    <a class="accordion" data-toggle="accordion" aria-expanded="false" aria-controls="accordion"> Specialization </a> </h4>
    <div class="card example-1 square scrollbar-cyan bordered-cyan">
<div id="accordion" class="accordion" role="button" aria-labelledby="accordion">
    <div class="panel-body">
                
        <div class="checkbox"> <label> <input type="radio" class="option-input checkbox" name="SpecName" value="Neurology" /> <span class="ml-10">Neurology</span> </label> </div>
        <div class="checkbox"> <label> <input type="radio" class="option-input checkbox" name="SpecName" value="Pediatrics" /> <span class="ml-10">Pediatrics</span> </label> </div>
        <div class="checkbox"> <label> <input type="radio" class="option-input checkbox" name="SpecName" value="Ophthalmology" /> <span class="ml-10">Ophthalmology</span> </label> </div>
        <div class="checkbox"> <label> <input type="radio" class="option-input checkbox" name="SpecName" value="Diabetes" /> <span class="ml-10">Diabetes</span> </label> </div>
        <div class="checkbox"> <label> <input type="radio" class="option-input checkbox" name="SpecName" value="Dermatology (Skin)" /> <span class="ml-10">Dermatology (Skin)</span> </label> </div>
        <div class="checkbox"> <label> <input type="radio" class="option-input checkbox" name="SpecName" value="Dentistry (Teeth)" /> <span class="ml-10">Dentistry (Teeth)</span> </label> </div>
        <div class="checkbox"> <label> <input type="radio" class="option-input checkbox" name="SpecName" value="Psychiatry (Mental, Emotional or Behavioral Disorders)" /> <span class="ml-10">Psychiatry (Mental, Emotional or Behavioral Disorders)</span> </label> </div>
        
        <div class="checkbox"> <label> <input type="radio" class="option-input checkbox" name="SpecName" value="Neurology (Brain & Nerves)" /> <span class="ml-10">Neurology (Brain & Nerves)</span> </label> </div>
        
        <div class="checkbox"> <label> <input type="radio" class="option-input checkbox" name="SpecName" value="Orthopedics (Bones)" /> <span class="ml-10">Orthopedics (Bones)</span> </label> </div>
        
        <div class="checkbox"> <label> <input type="radio" class="option-input checkbox" name="SpecName" value="Gynaecology and Infertility" /> <span class="ml-10">Gynaecology and Infertility</span> </label> </div>
        
        <div class="checkbox"> <label> <input type="radio" class="option-input checkbox" name="SpecName" value="Ear, Nose and Throat" /> <span class="ml-10">Ear, Nose and Throat</span> </label> </div>
        
        <div class="checkbox"> <label> <input type="radio" class="option-input checkbox" name="SpecName" value="Cardiology and Vascular Disease (Heart)" /> <span class="ml-10">Cardiology and Vascular Disease (Heart)</span> </label> </div>
        
        <div class="checkbox"> <label> <input type="radio" class="option-input checkbox" name="SpecName" value="Allergy and Immunology (Sensitivity and Immunity)" /> <span class="ml-10">Allergy and Immunology (Sensitivity and Immunity)</span> </label> </div>
        
        <div class="checkbox"> <label> <input type="radio" class="option-input checkbox" name="SpecName" value="Andrology and Male Infertility" /> <span class="ml-10">Andrology and Male Infertility</span> </label> </div>
        
        <div class="checkbox"> <label> <input type="radio" class="option-input checkbox" name="SpecName" value="Audiology" /> <span class="ml-10">Audiology</span> </label> </div>
        
        <div class="checkbox"> <label> <input type="radio" class="option-input checkbox" name="SpecName" value="Cardiology and Thoracic Surgery (Heart & Chest)" /> <span class="ml-10">Cardiology and Thoracic Surgery (Heart & Chest)</span> </label> </div>
        <div class="checkbox"> <label> <input type="radio" class="option-input checkbox" name="SpecName" value="Chest and Respiratory" /> <span class="ml-10">Chest and Respiratory</span> </label> </div>
        <div class="checkbox"> <label> <input type="radio" class="option-input checkbox" name="SpecName" value="Diabetes and Endocrinology" /> <span class="ml-10">Diabetes and Endocrinology</span> </label> </div>
        <div class="checkbox"> <label> <input type="radio" class="option-input checkbox" name="SpecName" value="Diagnostic Radiology (Scan Centers)" /> <span class="ml-10">Diagnostic Radiology (Scan Centers)</span> </label> </div>
        <div class="checkbox"> <label> <input type="radio" class="option-input checkbox" name="SpecName" value="Dietitian and Nutrition" /> <span class="ml-10">Dietitian and Nutrition</span> </label> </div>
        <div class="checkbox"> <label> <input type="radio" class="option-input checkbox" name="SpecName" value="Family Medicine" /> <span class="ml-10">Family Medicine</span> </label> </div>
        <div class="checkbox"> <label> <input type="radio" class="option-input checkbox" name="SpecName" value="Gastroenterology and Endoscopy" /> <span class="ml-10">Gastroenterology and Endoscopy</span> </label> </div>
        <div class="checkbox"> <label> <input type="radio" class="option-input checkbox" name="SpecName" value="General Practice" /> <span class="ml-10">General Practice</span> </label> </div>
        <div class="checkbox"> <label> <input type="radio" class="option-input checkbox" name="SpecName" value="General Surgery" /> <span class="ml-10">General Surgery</span> </label> </div>
        <div class="checkbox"> <label> <input type="radio" class="option-input checkbox" name="SpecName" value="Geriatrics (Old People Health)" /> <span class="ml-10">Geriatrics (Old People Health)</span> </label> </div>
        <div class="checkbox"> <label> <input type="radio" class="option-input checkbox" name="SpecName" value="Family Medicine" /> <span class="ml-10">Family Medicine</span> </label> </div>
        <div class="checkbox"> <label> <input type="radio" class="option-input checkbox" name="SpecName" value="Hematology" /> <span class="ml-10">Hematology</span> </label> </div>
        <div class="checkbox"> <label> <input type="radio" class="option-input checkbox" name="SpecName" value="Hepatology (Liver Doctor)" /> <span class="ml-10">Hepatology (Liver Doctor)</span> </label> </div>
        <div class="checkbox"> <label> <input type="radio" class="option-input checkbox" name="SpecName" value="Internal Medicine" /> <span class="ml-10">Internal Medicine</span> </label> </div>
        <div class="checkbox"> <label> <input type="radio" class="option-input checkbox" name="SpecName" value="IVF and Infertility" /> <span class="ml-10">IVF and Infertility</span> </label> </div>
        <div class="checkbox"> <label> <input type="radio" class="option-input checkbox" name="SpecName" value="Laboratories" /> <span class="ml-10">Laboratories</span> </label> </div>
        <div class="checkbox"> <label> <input type="radio" class="option-input checkbox" name="SpecName" value="Nephrology" /> <span class="ml-10">Nephrology</span> </label> </div>
        <div class="checkbox"> <label> <input type="radio" class="option-input checkbox" name="SpecName" value="Neurosurgery (Brain & Nerves Surgery)" /> <span class="ml-10">Neurosurgery (Brain & Nerves Surgery)</span> </label> </div>
        <div class="checkbox"> <label> <input type="radio" class="option-input checkbox" name="SpecName" value="Obesity and Laparoscopic Surgery" /> <span class="ml-10">Obesity and Laparoscopic Surgery</span> </label> </div>
        <div class="checkbox"> <label> <input type="radio" class="option-input checkbox" name="SpecName" value="Oncology (Tumor)" /> <span class="ml-10">Oncology (Tumor)</span> </label> </div>
        <div class="checkbox"> <label> <input type="radio" class="option-input checkbox" name="SpecName" value="Oncology Surgery (Tumor Surgery)" /> <span class="ml-10">Oncology Surgery (Tumor Surgery)</span> </label> </div>
        <div class="checkbox"> <label> <input type="radio" class="option-input checkbox" name="SpecName" value="Ophthalmology (Eyes)" /> <span class="ml-10">Ophthalmology (Eyes)</span> </label> </div>
        <div class="checkbox"> <label> <input type="radio" class="option-input checkbox" name="SpecName" value="Osteopathy (Osteopathic Medicine)" /> <span class="ml-10">Osteopathy (Osteopathic Medicine)</span> </label> </div>
        <div class="checkbox"> <label> <input type="radio" class="option-input checkbox" name="SpecName" value="Pain Management" /> <span class="ml-10">Pain Management</span> </label> </div>
        <div class="checkbox"> <label> <input type="radio" class="option-input checkbox" name="SpecName" value="Pediatric Surgery" /> <span class="ml-10">Pediatric Surgery</span> </label> </div>
        <div class="checkbox"> <label> <input type="radio" class="option-input checkbox" name="SpecName" value="Phoniatrics (Speech)" /> <span class="ml-10">Phoniatrics (Speech)</span> </label> </div>
        <div class="checkbox"> <label> <input type="radio" class="option-input checkbox" name="SpecName" value="Physiotherapy and Sport Injuries" /> <span class="ml-10">Physiotherapy and Sport Injuries</span> </label> </div>
        <div class="checkbox"> <label> <input type="radio" class="option-input checkbox" name="SpecName" value="Plastic Surgery" /> <span class="ml-10">Plastic Surgery</span> </label> </div>
        <div class="checkbox"> <label> <input type="radio" class="option-input checkbox" name="SpecName" value="Rheumatology" /> <span class="ml-10">Rheumatology</span> </label> </div>
        <div class="checkbox"> <label> <input type="radio" class="option-input checkbox" name="SpecName" value="Spinal Surgery" /> <span class="ml-10">Spinal Surgery</span> </label> </div>
        <div class="checkbox"> <label> <input type="radio" class="option-input checkbox" name="SpecName" value="Urology (Urinary System)" /> <span class="ml-10">Urology (Urinary System)</span> </label> </div>
        
        <div class="checkbox"> <label> <input type="radio" class="option-input checkbox" name="SpecName" value="Vascular Surgery (Arteries and Vein Surgery)" /> <span class="ml-10">Vascular Surgery (Arteries and Vein Surgery)</span> </label> </div>
        <!-- <div class="text-right refine"> <button class="btn btn-in btn-info btn-square" id="button-filter" type="submit">Refine Search</button> </div> -->
        
        </div>
</div>
    </div>
    <div class="text-right refine"> <button class="btn btn-in btn-info btn-square" id="button-filter" type="submit">Refine Search</button> </div>

</div>
</div>


</div>
</div>

</form>



</div>

<div class="col-md-8" id="main">
    
<div class="container py-5">
<div class="row">
<div class="col-lg-12 mx-auto">
    <!-- <div class="d-flex justify-content-between mb-3"> <class="text-right refine ><a href="http://localhost:5000/doctors/" class="btn btn-info add" role="button">View High Rated Doctors</a> </div> -->

<ul class="list-group shadow">
<li class="list-group-item">
    <%Sch.forEach(Sch=>{%>
<div class="media align-items-lg-center flex-column flex-lg-row"> <img src="/Doctors/MaleDoctor.jpg" alt="Generic placeholder image" width="200" height="200" class="order-1 order-lg-1">
    
    <div class="media-body order-2 order-lg-2 ml-lg-5">

    <h5 class="mt-0 mb-1"> <div class="c"> Doctor <%=Sch.Doctor_id.Doc_FirstName%></div> </h5>
    <!-- <div class="product-rating mb-2"> <span class="badge23"><i class="fa fa-star"></i> 4 Star</span> <span class="rating-review mb-1">4 Ratings &amp; 3 Recommendations</span></div>  -->
    
    <span class="doctor-fees price-new">Fees : <%=Sch.Upfront_fees%> </span>
    <!-- <div class="text-right refine" ><a href="http://localhost:5000/booking" class="btn btn-info" role="button">Book Appointment</a> </div> -->
   <form action="http://localhost:5000/doctor/viewDocSch" method="post">
    <div class="text-right refine" >
    <input hidden value="<%=Sch.Doctor_id._id %>" name="Doc_Id">
   <button  class="btn btn-info" type="submit">Doctor Schedule</button> 
 </div>
   </form>
        
   
    
      
    <hr class="mb-2 mt-1 seperator">
    <div class="d-flex align-items-center justify-content-between mt-1">

        <ul class="list-inline small">
            <li><img src="https://img.icons8.com/material-outlined/10/000000/filled-circle--v1.png"> <%=Sch.Doctor_id.Specialization_Name%></li>
            <li><img src="https://img.icons8.com/material-outlined/10/000000/filled-circle--v1.png">New Cairo : North Tessen Street-CMC Medical Center </li>
            <li><img src="https://img.icons8.com/material-outlined/10/000000/filled-circle--v1.png"> Waiting Time : <%=Sch.AveWating_Time%> </li>
        </ul>
        <ul class="list-inline small">
            <li><img src="https://img.icons8.com/material-outlined/10/000000/filled-circle--v1.png"> Available <%=Sch.Available_methods%></li>
        </ul>
    </div>
</div>

</div>
<hr class="seperator">
<%})%>

</div>
</div>
</div>
</div>
</div>
</body>
       
    



<footer id="footer" class="mt-5">
<%- include ('./partials/footer.ejs') %>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>