<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico" />
    <title>24/7 Doctors - Search</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    />
    <link
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      rel="stylesheet"
    />

    <style>
      body {
        overflow-x: hidden !important;
      }

      .doctor-fees {
        display: inline;
        font-size: 20px;
        font-weight: 400;
        margin-top: -15px;
        margin-bottom: 0px;
        color: #080808;
        clear: left;
      }

      .seperator {
        background: #a2a2efb8;
      }

      body .search {
        background: url("https://i.imgur.com/tkTHkdH.png");
        background-size: cover;
        padding: 180px 0 50px 0;
      }

      .search form {
        position: relative;
        width: 540px;
        height: 60px;
        margin: 22px auto 0;
      }
      h2 {
        color: #000000;
        font-family: "Droid serif", serif;
        font-size: 90px;
        font-weight: 400;
        font-style: italic;
        line-height: 50px;
        margin: 0 0 12px;
        text-align: center;
      }

      .c {
        text-transform: capitalize;
      }
    </style>
  </head>

  <body>
    <!--Start Hader-->
    <%- include ('../partials/navHome.ejs') %>
    <!--End Hader-->

    <div class="search">
      <div class="container">
        <form
          action="http://localhost:5000/doctor/DocSearch-patient"
          method="post"
        >
          <h2>Our Pharmices</h2>
        </form>
      </div>
    </div>
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-12 mx-auto">
          <ul class="list-group shadow">
            <li class="list-group-item">
              <!-- Sch.forEach(Sch=>{%> -->
              <%phar.forEach(phar=>{%>
              <div class="media align-items-lg-center flex-column flex-lg-row">
                <img
                  src="/img/Phar.png"
                  alt="Generic placeholder image"
                  width="200"
                  height="200"
                  class="order-1 order-lg-1"
                />

                <div class="media-body order-2 order-lg-2 ml-lg-5">
                  <h5 class="mt-0 mb-1">
                    <div class="c">
                      <!-- Doctor Name =Sch.Doc_FirstName%> =Sch.Doc_Lastname%> -->
                      <strong> Pharmacy: </strong> <%-phar.Phar_name%>
                    </div>
                  </h5>

                  <span class="doctor-fees price-new"> </span>
                  <form
                    action="http://localhost:5000/doctor/viewDocSch"
                    method="post"
                  >
                    <div class="text-right refine">
                      <input hidden value="=Sch._id%>" name="Doc_Id" />
                    </div>
                  </form>

                  <hr class="mb-2 mt-1 seperator" />

                  <div
                    class="d-flex align-items-center justify-content-between mt-1"
                  >
                    <ul class="list-inline small">
                      <li>
                        <img
                          src="https://img.icons8.com/material-outlined/10/000000/filled-circle--v1.png"
                        />
                        <strong>Phar City:</strong> <%-phar.city%>
                      </li>
                      <li>
                        <img
                          src="https://img.icons8.com/material-outlined/10/000000/filled-circle--v1.png"
                        />
                        <strong>Phar Area:</strong> <%-phar.area%>
                      </li>
                      <li>
                        <img
                          src="https://img.icons8.com/material-outlined/10/000000/filled-circle--v1.png"
                        />
                        <strong>Phar Address:</strong> <%-phar.addres_details%>
                      </li>
                      <li>
                        <img
                          src="https://img.icons8.com/material-outlined/10/000000/filled-circle--v1.png"
                        />
                        <strong>Phar Email:</strong> <%-phar.Phar_Email%>
                      </li>
                    </ul>
                    <form
                      action="http://localhost:5000/patient/send-pres-phar"
                      method="post"
                    >
                      <input
                        type="hidden"
                        name="phar_id"
                        value="<%=phar._id%>"
                      />
                      <input type="hidden" name="Pres_id" value="<%=PresId%>" />
                      <button class="btn btn-success" type="submit">
                        Send Prescription
                      </button>
                    </form>
                  </div>
                </div>
              </div>

              <hr class="seperator" />
              <%})%>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"></script>
</html>
