<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    
    <script
      src="https://kit.fontawesome.com/ff8698dfe7.js"
      crossorigin="anonymous"
    ></script>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico" />


    <title>Prescription History</title>

    <style>
      *{
        margin: 0;
        padding: 0;
      }

      .c {
      text-transform: capitalize;
      }

      .card {
        background-color: rgb(255, 255, 255);
        border: none;
        border-radius: 5px;
        box-shadow: 5px 6px 6px 2px #4e7caa;
      }

      html,body {
        background: #000;
        background: url("https://i.imgur.com/acoSJ9c.jpg") no-repeat center center fixed;
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 100%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        position: relative;
        margin-bottom: 60px;
        min-height: 100%;
      }

      #badg{
    display:flex;
    justify-content:center;
    align-items:center;
    width: 10rem; 
    font-size: 1.2em;
}
#container{
        min-height: 100%;

      }

      #main{
        overflow: auto;
        padding-bottom: 100px;

      }


      #footer {
        position: relative;
        margin-top: -100px;
        height: 100px;
        bottom: 0;
}
    </style>
  </head>

  <body>
    <!--Start Header-->
   <%- include ('../partials/navHome.ejs') %>
    <!--End Header-->

    <div class="container mt-5 container">
      <div class="row d-flex justify-content-center">
        <div class="row d-flex justify-content-center main">
          <!-------------------------------------------START HEADERS -------------------------------------------------->

          <form
            action="controller"
            method="get"
            class="d-md-flex d-sm-block justify-content-between"
          >
            <input type="hidden" name="command" value="select-orders" />
            <h1 class="h5 align-self-center col-3">Prescription Histroy</h1>
            <form>
              <input class="btn btn-danger" type="button" value="Go back" onclick="history.back()">
             </form>
          </form>

          <div
            class="d-md-flex d-none justify-content-md-between justify-content-sm-center align-content-center border-bottom border-2 my-2 bg-dark text-light p-3 rounded-3"
          >
            <div class="col-2 align-self-center">
              <h1 class="h5 fw-bold">Date Created</h1>
            </div>
            <div class="col-2 align-self-center">
              <h1 class="h5 fw-bold">Doctor Name & Specialization</h1>
            </div>
            <div class="col-2 align-self-center">
              <h1 class="h5 fw-bold"></h1>
            </div>
            <div class="col-2 align-self-center">
              <h1 class="h5 fw-bold" style="padding-right: 70px;">Prescriptions</h1>
            </div>
          </div>
          <!-------------------------------------------END HEADERS -------------------------------------------------->

          <!-------------------------------------------START FIRST ROW  -------------------------------------------------->
          <%prse.forEach(prse=>{%>
      
          <div
            id="main" class="d-md-flex d-sm-block justify-content-md-between justify-content-sm-center text-center border-bottom border-2 my-2 bg-light p-2 rounded-3"
          >
            <div
              class="col-md-2 text-sm-center text-md-start align-self-center my-2 text"
            >
              <!-- <h1 class="h6">=appoo.createdAt%></h1> -->
               <%  let date =prse.Pres_Arrival_Date.toDateString(); %>
              <h1 class="h6"><%=date %></h1>
            </div>


            <div
              class="col-md-2 text-sm-center text-md-start align-self-center my-2 text"
            >
              <!-- <h1 class="h6">=appoo.createdAt%></h1> -->
               
              <h1 class="h6 c">Dr. <%=prse.Doc_Id.Doc_FirstName %></h1>
              <h1 class="text-wrap" id="badg"><%=prse.Doc_Id.Specialization_Name %></h1>
            </div>
            

            <div class="col-md-6"> 
              <div class="text-center px-1 py-5"> 
                  <div class="forms p-4 py-5 bg-white"> 
                      <h5><i class="fa-solid fa-prescription"></i> Prescription</h5> 
                      <!-- <form action="http://localhost:5000/doctor/WritePrescription-create" method="post">            -->
                          <div class="form-outline mt-4"> 
                              <h6 class="text-left">Patient Name</h6>
                         <input type="text" class="form-control mt-3 c" placeholder="<%=prse.Pat_Id.pat_FirstName %>" name="" disabled>
                          </div>

                          <div class="form-row">
                              <div class="form-group col-md-6 mt-3 text-left">
                                <h6 class="text-left">Patient Address</h6>
                                <input type="text" class="form-control mt-3
                                input-sm"  placeholder="<%=prse.Pat_Id.addres_details %>" name="" disabled />
                              </div>

                              <div class="form-group col-md-6 mt-3 text-left">
                                <h6 class="text-left">Patient Area</h6>
                                <input type="text" class="form-control mt-3
                                input-sm" placeholder="<%=prse.Pat_Id.city %>" name="" disabled />                                
                            </div>
                          </div>

                          <div class="form-outline m4-4"> 
                              <h6 class="text-left">Prescription Details </h6>
                         <textarea class="form-control mt-3" placeholder="Prescription Details" name="" disabled><%=prse.pres_Description %></textarea> 
                          </div>
                          <div class="form-group col-md-6 feight py-3">
                            <h6 class="text-left">Next Checkup </h6>
                               <%date=prse.CheckUpDay.toDateString() %> 
                            <input type="text" class="form-control" placeholder="<%=date %>"
                            required name="CheckUpDay" disabled>
                           </div>

            <!-- <div
              class="col-md-2 text-sm-center text-md-start align-self-center my-2"
            >
            <form action="" method="post">
              <input hidden value="=appoo._id " name="Appo_Id">
              <button class="btn btn-outline-dark w-100" type="">Details</button>
             <a class="btn btn-outline-dark w-100" href="http://localhost:5000/patient/AppDetails">Details</a>
          </form>
          </div> -->
          
                </div>
                
              </div>
              
            </div>
          
      
              <!--  NORMAL DETAILS BUTTON <a href="#demo" class="btn btn-outline-dark w-100" type="button" data-toggle="collapse">Details</a>  --> 

              <!--  POP OVER - WORKING FINE  -->
              <!-- <button 
              type="button" 
              id="firstButton" 
              class="btn btn-outline-dark w-100" href="http://localhost:5000/patient/AppDetails"
              rel="popover" 
              data-bs-container="body" 
              data-bs-toggle="popover" 
              data-bs-placement="bottom" 
              data-bs-content="Bottom popover" 
              data-message="=appoo.Doc_Id.Doc_FirstName%> - =appoo.Doc_Id.Specialization_Name%> - =appoo.App_visit_day%> - =appoo.App_RegVisit_time%>">
                Details
              </button> -->
              <!-- POPOVER END -->

              <!-- COLLAPSE - Not working fine, opens all Details on the page not one by one  -->
              <!-- <button type="button" class="btn btn-outline-dark w-100" data-toggle="collapse" data-target="#demo">Details</button>
              <div id="demo" class="collapse">
                <p> Doctor Name </p>
                <p> Doctor Specialization </p>
                <p> Chosen Day </p>
                <p> Chosen Hour</p>
              </div> -->
              <!-- END COLLAPSE  -->

            </div>
            <%})%>
          </div>
      </div>
    </div>

  
  </body>

  <footer class="footer">
    <div  class="mt-5"><%- include ('../partials/footer.ejs') %></div>
    
      </footer>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"></link>
</html>
