<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    
    <script
      src="https://kit.fontawesome.com/ff8698dfe7.js"
      crossorigin="anonymous"
    ></script>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico" />


    <title>Doctor Schedule</title>

    <style>
      .card {
        background-color: rgb(255, 255, 255);
        border: none;
        border-radius: 5px;
        box-shadow: 5px 6px 6px 2px #4e7caa;
      }
      .allergy {
        position: relative;
        bottom: 10px;
        color: grey;
      }
      .head {
        color: #97989a;
        font-size: 17px;
        font-weight: bold;
      }
      .bottom {
        color: grey;
        font-size: 15px;
      }

      body {
        height: 100vh;
        background: #000;
        background: url("https://i.imgur.com/acoSJ9c.jpg");
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 170%;
      }
      .demo {
        width: 100%;
        height: 100%;
        height: 100vh;
        background: #000;
      }

      /* #footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: #6cf;
      } */

    </style>
  </head>

  <body>
    <%- include ('../partials/navHome.ejs') %>

    <div class="container mt-5">
      <div class="row d-flex justify-content-center">
        <div class="row d-flex justify-content-center">
          <!-------------------------------------------START HEADERS -------------------------------------------------->

          <form
            action="controller"
            method="get"
            class="d-md-flex d-sm-block justify-content-between"
          >
            <input type="hidden" name="command" value="select-orders" />
            <h1 class="h5 align-self-center col-3">Appointments Histroy</h1>
          </form>

          <div
            class="d-md-flex d-none justify-content-md-between justify-content-sm-center align-content-center border-bottom border-2 my-2 bg-dark text-light p-3 rounded-3"
          >
            <div class="col-2 align-self-center">
              <h1 class="h5 fw-bold">Date Created</h1>
            </div>
            <div class="col-3 align-self-center">
              <h1 class="h5 fw-bold">Communication Type</h1>
            </div>
            <div class="col-2 align-self-center">
              <h1 class="h5 fw-bold">Show details</h1>
            </div>
            <div class="col-2 align-self-center">
              <h1 class="h5 fw-bold">Payment Status</h1>
            </div>
          </div>
          <!-------------------------------------------END HEADERS -------------------------------------------------->

          <!-------------------------------------------START FIRST ROW  -------------------------------------------------->
          <%appo.forEach(appo=>{%>
          <div
            class="d-md-flex d-sm-block justify-content-md-between justify-content-sm-center text-center border-bottom border-2 my-2 bg-light p-2 rounded-3"
          >
            <div
              class="col-md-2 text-sm-center text-md-start align-self-center my-2"
            >
              <h1 class="h6"><%=appo.createdAt %></h1>
            </div>

            <div
              class="col-md-3 text-sm-center text-md-start align-self-center my-2"
            >
              <h1 class="h6"><%=appo.Methed_of_comm %></h1>
            </div>

            <div
              class="col-md-2 text-sm-center text-md-start align-self-center my-2"
            >
              <!--  NORMAL DETAILS BUTTON <a href="#demo" class="btn btn-outline-dark w-100" type="button" data-toggle="collapse">Details</a>  --> 

              <!--  POP OVER - WORKING FINE  -->
              <button 
              type="button" 
              id="firstButton" 
              class="btn btn-outline-dark w-100" 
              rel="popover" 
              data-bs-container="body" 
              data-bs-toggle="popover" 
              data-bs-placement="bottom" 
              data-bs-content="Bottom popover" 
              data-message="Doctor Name - Specialization - Chosen Day - Chosen Hour">
                Details
              </button>
              <!-- POPOVER END -->

              <!-- COLLAPSE - Not working fine, opens all Details on the page not one by one  -->
              <!-- <button type="button" class="btn btn-outline-dark w-100" data-toggle="collapse" data-target="#demo">Details</button>
              <div id="demo" class="collapse">
                <p> Doctor Name </p>
                <p> Doctor Specialization </p>
                <p> Chosen Day </p>
                <p> Chosen Hour</p>
              </div> -->
              <!-- END COLLAPSE  -->

            </div>

            <div
              class="col-md-2 text-sm-center text-md-start align-self-center my-2"
            >
              <form method="get" action="controller" class="d-flex btn-group">
                <h1 class="h6"><%=appo.App_visit_status%></h1>
                <!-- <input type="hidden" name="command" value="refresh-order-status">
                     <select name="status" class="btn btn-outline-dark">   
                    </select>  -->
              </form>
            </div>
          </div>
          <%})%>

          <!-------------------------------------------END FIRST ROW  -------------------------------------------------->

          <!-- -----------------------------------------START SECOND ROW  ----------------------------------------------

          <div
            class="d-md-flex d-sm-block justify-content-md-between justify-content-sm-center text-center border-bottom border-2 my-2 bg-light p-2 rounded-3"
          >
            <div
              class="col-md-2 text-sm-center text-md-start align-self-center my-2"
            >
              <h1 class="h6">03/09/2022</h1>
            </div>

            <div
              class="col-md-3 text-sm-center text-md-start align-self-center my-2"
            >
              <h1 class="h6">Face to Face</h1>
            </div>

            <div
              class="col-md-2 text-sm-center text-md-start align-self-center my-2"
            >
              <a class="btn btn-outline-dark w-100" href="#">Details</a>
            </div>

            <div
              class="col-md-2 text-sm-center text-md-start align-self-center my-2"
            >
              <form method="get" action="controller" class="d-flex btn-group">
                <input
                  type="hidden"
                  name="command"
                  value="refresh-order-status"
                />
                <h1 class="h6">Pending</h1>
                <select name="status" class="btn btn-outline-dark"> 
                         </select> 
              </form>
            </div>
          </div>
          -----------------------------------------END SECOND ROW  -------------------------------------------------->

          <!-------------------------------------------START THIRD ROW  ---------------------------------------------

          <div
            class="d-md-flex d-sm-block justify-content-md-between justify-content-sm-center text-center border-bottom border-2 my-2 bg-light p-2 rounded-3"
          >
            <div
              class="col-md-2 text-sm-center text-md-start align-self-center my-2"
            >
              <h1 class="h6">19/10/2022</h1>
            </div>

            <div
              class="col-md-3 text-sm-center text-md-start align-self-center my-2"
            >
              <h1 class="h6">Zoom Meeting</h1>
            </div>

            <div
              class="col-md-2 text-sm-center text-md-start align-self-center my-2"
            >
              <a class="btn btn-outline-dark w-100" href="#">Details</a>
            </div>

            <div
              class="col-md-2 text-sm-center text-md-start align-self-center my-2"
            >
              <form method="get" action="controller" class="d-flex btn-group">
                <input
                  type="hidden"
                  name="command"
                  value="refresh-order-status"
                />
                <h1 class="h6">Payment Paid</h1>
                 <select name="status" class="btn btn-outline-dark">
                                 </select> 
              </form>
            </div>
          </div>
          -----------------------------------------END THIRD ROW  ------------------------------------------------ -->
        </div>
      </div>
    </div>
  </body>
  <div class="mt-5"><%- include ('../partials/footer.ejs') %></div>

  <script>
$(function () {
    $('#firstButton').popover({
      container: "body",
      html: true,
      content: function () {
        return '<div class="popover-message">' + $(this).data("message") + '</div>';
      }
    });
    $('#secondButton').popover(); // <-- The first initializer does this, which causes the next one to fail on the next line.
    $('#secondButton').popover({
      container: "body",
      html: true,
      content: function () {
        return '<div class="popover-message">' + $(this).data("message") + '</div>';
      }
    });
});  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"></link>
</html>
