<!DOCTYPE html>
<html lang="en">
  <head>
  <body>
    <!--Start Headder-->
     <%- include ('../partials/NavDoc.ejs') %>
    <!--End Header-->

    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico"/>

    <title>Doctors</title>
    
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css' rel='stylesheet'>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
</body>
</head>
<style>
        
    .card{
        background-color: rgb(255, 255, 255);
        border: none;
        border-radius: 5px;
        box-shadow: 5px 6px 6px 2px #4e7caa
    }
    .allergy{
        position: relative;
        bottom: 10px;
        color: grey
    }
    .head{
        color: #97989a;
        font-size: 17px;
        font-weight: bold;
    }
    .bottom{    
        color: grey;
        font-size: 15px
    }
    
    body {
        height: 100vh;
        background: #000;
        background: url("https://i.imgur.com/acoSJ9c.jpg");
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 170%;
        min-height: 100vh;
    }
    #page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}
.text {
  display: block;
  width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}
</style>

</head>


<body>


<div class="container mt-5">
    <div class="row d-flex justify-content-center">
    <div class="row d-flex justify-content-center" >

<!-------------------------------------------START HEADERS -------------------------------------------------->

<form action="controller" method="get" class="d-md-flex d-sm-block justify-content-between" >
     <input type="hidden" name="command" value="select-orders"> 
     <h1 class="h5 align-self-center col-3">Appointments Histroy</h1> 
</form> 

<div class="d-md-flex d-none justify-content-md-between justify-content-sm-center align-content-center border-bottom border-2 my-2 bg-dark text-light p-3 rounded-3"> 
<!-- <div class="col-2 text-sm-center text-md-start align-self-center"> 
    <h1 class="h5 fw-bold">Appointment ID</h1> 
</div>  -->
<div class="col-2 align-self-center"> 
    <h1 class="h5 fw-bold">Date Created</h1> 
</div> 
<div class="col-3 align-self-center"> 
    <h1 class="h5 fw-bold">Communication Type</h1>
 </div> 
 <div class="col-2 align-self-center"> 
     <h1 class="h5 fw-bold">Show details</h1> </div> 
     <div class="col-2 align-self-center"> 
         <h1 class="h5 fw-bold">Payment Status</h1> 
        </div> 
        <div class="col-2 align-self-center"> 
            <h1 class="h5 fw-bold">Confirmation</h1> 
           </div> 
        
</div> 
<!-------------------------------------------END HEADERS -------------------------------------------------->


<!-------------------------------------------START FIRST ROW  -------------------------------------------------->
<%appoo.forEach(appoo=>{%>
    <div class="d-md-flex d-sm-block justify-content-md-between justify-content-sm-center text-center border-bottom border-2 my-2 bg-light p-2 rounded-3"> 

        <!-- <div class="col-md-2 text-sm-center text-md-start align-self-center my-2"> 
            <h1 class="h6">2F456DA</h1> 
        </div>  -->

        <div class="col-md-2 text-sm-center text-md-start align-self-center my-2"> 
            <!-- <h1 class="h6 text ">< appo.createdAt %></h1>  -->
            <% const date =appoo.createdAt.toDateString(); %> 
            <h1 class="h6"><%=date%></h1>
        </div> 

        <div class="col-md-3 text-sm-center text-md-start align-self-center my-2"> 
            <h1 class="h6"><%=appoo.Methed_of_comm %></h1> 
        </div>

         <div class="col-md-2 text-sm-center text-md-start align-self-center my-2"> 
            <form action="http://localhost:5000/doctor/AppDetails" method="post">
                <div class="text-right refine" >
                <input hidden value="<%=appoo._id%>" name="appo_Id">
               <button  class="btn btn-outline-dark w-100" type="submit">Details</button> 
             </div>
               </form>
                    
           <!-- <a class="btn btn-outline-dark w-100" href="http://localhost:5000/doctor/AppDetails">Details</a> --> 
        </div> 

        <div class="col-md-2 text-sm-center text-md-start align-self-center my-2"> 
            <form method="get" action="controller" class="d-flex btn-group"> 
                <h1 class="h6" style="padding-left: 40px"><%=appoo.App_visit_status%></h1> 
                <!-- <input type="hidden" name="command" value="refresh-order-status">
                 <select name="status" class="btn btn-outline-dark">   
                </select>  -->
             </form> 
        </div> 
        <div class="col-md-1 text-sm-center text-md-start align-self-center my-2"> 
            <form method="get" action="controller" class="d-flex btn-group"> 
                <a class="btn btn-outline-success" style="padding: 10px 10px;" href="#">Accept</a>
             </form>   
        </div>
        <div class="col-md-1 text-sm-center text-md-start align-self-center my-2"> 
            <form method="get" action="controller" class="d-flex btn-group"> 
                <a class="btn btn-outline-danger" style="padding: 10px 10px;" href="#">Delay</a>
             </form> 
        </div> 

        </div>
        <%})%>
<!-------------------------------------------END FIRST ROW  -------------------------------------------------->



                </div>
                </div>
            </div>





</div>
<footer id="footer" class="mt-5"><%- include ('../partials/footer.ejs') %></footer>
</div>   

<script
 type='text/javascript' src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js'>
src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
crossorigin="anonymous" 
</script>
</html>